[Unit]
Description=Periodically update /etc/issue with current IP addresses

[Timer]
OnBootSec=5sec
OnUnitActiveSec=30sec

[Install]
WantedBy=timers.target
