[Match]
Name = br-lan

[Network]
Address    = 192.168.10.1/24

Address    = {{IPv6_ULA}}/48
IPv6SendRA = true

DHCPServer = true

[DHCPServer]
PoolOffset = 100
PoolSize   = 100
EmitDNS    = true
DNS        = 127.0.0.1
